# Environment Variables
PORT=5000
MONGO_URI=mongodb://localhost:27017/fitness-workout

# For MongoDB Atlas (cloud), use:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/fitness-workout?retryWrites=true&w=majority
